<ion-view title="Nazwa ćwiczenia" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="nazwaWiczenia-heading1" style="color:#000000;">Heading</h1>
    <div id="nazwaWiczenia-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jakieś info. Że plecy bolą, i nie mogą podnieść. </p>
    </div>
    <ion-list id="nazwaWiczenia-list5">
      <ion-item id="nazwaWiczenia-list-item29">Item 1</ion-item>
      <ion-item id="nazwaWiczenia-list-item30">Item 2</ion-item>
      <ion-item id="nazwaWiczenia-list-item31">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>