<ion-view title="Nowe cwiczenie" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="noweCwiczenie-form2" class="list">
      <label class="item item-input" id="noweCwiczenie-input3">
        <span class="input-label">Nazwa</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="noweCwiczenie-select1">
        <span class="input-label">Typ (nogi, plecy)</span>
        <select></select>
      </label>
      <label class="item item-input" id="noweCwiczenie-input4">
        <span class="input-label">Ilość powtórzeń</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="noweCwiczenie-input5">
        <span class="input-label">coś</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="noweCwiczenie-textarea1">
        <span class="input-label">Opis</span><textarea placeholder="Opis ćwiczenia"></textarea></label>
    </form>
    <a ui-sref="menu.cwiczenia()" id="noweCwiczenie-button11" class="button button-positive button-block">Dodaj</a>
  </ion-content>
</ion-view>