<ion-view title="Treningi" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="treningi-card21">
      <ion-item class="item-avatar" id="treningi-list-item6">
        <h2>Nazwa Treningu</h2>
      </ion-item>
      <a ui-sref="menu.trening()" id="treningi-button1" class="button button-balanced button-block">Rozpocznij</a>
      <div id="treningi-button-bar1" class="button-bar">
        <a ui-sref="menu.edycjaTreningu()" id="treningi-button6" class="button button-assertive button-block">Edytuj</a>
        <a ui-sref="menu.szczegolyTreningu()" id="treningi-button8" class="button button-calm button-block">Szczegóły</a>
      </div>
    </div>
    <a ui-sref="menu.nowyTrening()" id="treningi-button9" class="button button-positive button-block">Nowy trening</a>
  </ion-content>
</ion-view>