<ion-view title="Cwiczenia" id="page2">
  <ion-content padding="true" class="has-header">
    <button id="cwiczenia-button10" class="button button-positive button-block" ui-sref="noweCwiczenie()">Dodaj nowy</button>
    
    <ion-list ng-repeat="type in exeType">
      <ion-item class="item-divider">{{ type.name }}</ion-item>
      <!-- <ion-item ui-sref="menu.nazwaCwiczenia(exe)" ng-repeat="exe in listOfExercises | filter: { exe_type: type.typeId }">{{ exe.name }}</ion-item> -->
      <ion-item ng-click="goToExe(exe)" ng-repeat="exe in listOfExercises | filter: { exe_type: type.typeId }">{{ exe.name }}</ion-item>
    </ion-list>
    
    <!-- <ion-list id="cwiczenia-list4">
      <ion-item class="item-divider" id="cwiczenia-list-item-divider2"> Nogi</ion-item>
      <ion-item id="cwiczenia-list-item21" ui-sref="menu.nazwaCwiczenia()">Item</ion-item>
      <ion-item id="cwiczenia-list-item22" ui-sref="menu.nazwaCwiczenia()">Item</ion-item>
      <ion-item class="item-divider" id="cwiczenia-list-item-divider3"> Ręce</ion-item>
      <ion-item id="cwiczenia-list-item23" ui-sref="menu.nazwaCwiczenia()">Item</ion-item>
      <ion-item id="cwiczenia-list-item24" ui-sref="menu.nazwaCwiczenia()">Item</ion-item>
      <ion-item class="item-divider" id="cwiczenia-list-item-divider4"> Plecy</ion-item>
      <ion-item id="cwiczenia-list-item25" ui-sref="menu.nazwaCwiczenia()">Item</ion-item>
    </ion-list>
  </ion-content> -->
</ion-view>