<ion-view title="Edycja treningu" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="edycjaTreningu-heading4" style="color:#000000;">Nazwa treningu</h1>
    <div id="edycjaTreningu-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <ion-list id="edycjaTreningu-list10">
      <ion-item id="edycjaTreningu-list-item43">Przysiady - 10 powt.</ion-item>
      <ion-item class="item-divider" id="edycjaTreningu-list-item-divider10"> Czasoumilacz - 60 sek.</ion-item>
    </ion-list>
    <div id="edycjaTreningu-button-bar7" class="button-bar">
      <button id="edycjaTreningu-button37" class="button button-dark button-block">Dodaj przerwę</button>
      <button id="edycjaTreningu-button38" class="button button-balanced button-block">Dodaj ćwiczenie</button>
    </div>
  </ion-content>
</ion-view>