<ion-view ng-model="infoExe" title="" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="nazwaCwiczenia-heading1" style="color:#000000;">{{ infoExe.name }}</h1>
    <div id="nazwaCwiczenia-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;" ng-bind-html="infoExe.desc"></p>
    </div>
    <ion-list id="nazwaCwiczenia-list5">
      <ion-item>Rodzaj ćwiczenia
        <span style="float: right;">{{ infoExe.exe_type }}</span>
      </ion-item>
      <ion-item ng-show="infoExe.value_type != 'TIME'">Przykładowa ilość powt.
        <span style="float: right;">{{ infoExe.default_rep }}</span>
      </ion-item>
      <ion-item ng-show="infoExe.value_type === 'TIME'">Przykładowy czas
        <span style="float: right;">{{ convertTime(infoExe.default_rep) }}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>